
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@600&display=swap');


body{
    background-color: #171718;
}

git cherry-pick


.container{
    margin: 0 auto;
    max-width: 1140px;
    .navbar{
        white-space: nowrap;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 84px;

        .logo{
            color: #ffff;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
        }
        .links{
            text-align: center;
            align-items: center;
            display: flex;


            a{
                text-decoration: none;
                color: #ffff;
                font-family: 'DM Sans', sans-serif;
                font-weight: 500;
                font-size: 16px;
                line-height: 16px;
                margin: 0 15px;
                vertical-align: middle;
            }
        }

        button{
            font-family: 'DM Sans', sans-serif;
            color: #ffff;
            justify-content: center;
            align-items: center;
            padding: 16px 20px;
            gap: 10px;
            width: 169px;
            height: 48px;
            background-color: #F9B53A;
            border-radius: 8px;
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
        }

    }
}

