@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
body {
  background-color: #171718;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}
.container .navbar {
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 84px;
}
.container .navbar .logo {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.container .navbar .links {
  text-align: center;
  align-items: center;
  display: flex;
}
.container .navbar .links a {
  text-decoration: none;
  color: white;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  margin: 0 15px;
  vertical-align: middle;
}
.container .navbar button {
  font-family: "DM Sans", sans-serif;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  gap: 10px;
  width: 169px;
  height: 48px;
  background-color: #FFA000;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.pageName {
  color: white;
  background: linear-gradient(to right, #1d4350, #a43931);
  display: flex;
  align-items: center;
  height: 600px;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  font-weight: 700;
}
.pageName h1 {
  font-size: 55px;
  font-family: "Poppins", sans-serif;
}
.pageName p {
  font-family: "DM Sans", sans-serif;
  font-size: 40px;
}

.container .resume {
  width: 544px;
  height: 409px;
  left: 453px;
  top: 816px;
  text-align: center;
  margin: 57px auto 0px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}
.container .resume h1 {
  display: inline;
  color: white;
  font-size: 60px;
  margin: 0px;
}
.container .resume h2 {
  display: inline;
  color: #FFA000;
  font-size: 60px;
  margin: 0px;
}
.container .resume p {
  margin: 0px;
  color: white;
  font-size: 60px;
}
.container .resume .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;
  margin-top: 30px;
}
.container .resume .buttons .project {
  background-color: #FFA000;
  border: none;
  width: 192px;
  height: 47px;
  border-radius: 8px;
  color: white;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.container .resume .buttons .download {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 8px;
  width: 192px;
  height: 47px;
  color: white;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.container .gradient {
  position: absolute;
  width: 967px;
  height: 454px;
  background: linear-gradient(270deg, #F9B53A 10.81%, #FF59A8 100%);
  opacity: 0.5;
  filter: blur(600px);
}
.container .aboutMe {
  background-color: #1F1F21;
  width: 967px;
  height: 454px;
  display: flex;
}
.container .aboutMe .avatar {
  width: 326.33px;
  height: 405.16px;
  border-radius: 8px;
  margin: 24px 24px;
}
.container .aboutMe .content {
  flex-direction: column;
  width: 560px;
  height: 404.95px;
  padding: 24px;
}
.container .aboutMe .content h1 {
  color: #FFA000;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  font-size: 48px;
}
.container .aboutMe .content p {
  color: white;
  font-weight: 400;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  margin: 3px;
}
.container .mySkills {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.container .mySkills h1 {
  color: #FFA000;
  margin: 0px auto;
}
.container .mySkills .skills {
  width: 1112px;
  height: 313px;
  display: flex;
  justify-content: space-between;
}
.container .mySkills .skills .mobile {
  width: 354px;
  height: 308px;
}
.container .mySkills .skills .manual {
  width: 354px;
  height: 308px;
}

/*# sourceMappingURL=style.css.map */
